body{
    th, td{
  border:1px solid black;}
  
    
  background-image: url('../images/Ben10_Fundo.jpg');
     background-size: cover;
     overflow: hidden;
    }

    h1{
     text-align: center;
     font-size: 100px;
     background-color: darkgreen;
     border:lightgreen 2px solid;
     border-radius: 20px;
     opacity: 0.8;
     margin-top: 20px;
     font-family: "Bangers", system-ui;
}
    dl {
     font-size: 45px;
     font-family: "Bangers", system-ui;
     border: 2px solid lime;
     border-radius: 35px;
     padding: 9px 13px;
     margin: 9px;
     text-align: start;
     display: inline-block;
}

.tabela{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

