body{
  background-image: url('../images/Ben10_Fundo.jpg');
     background-size: cover;
     overflow: hidden;
     font-family: "Bangers", system-ui;
    }

    h1{
     text-align: center;
     font-size: 100px;
     background-color: darkgreen;
     border:lightgreen 2px solid;
     border-radius: 20px;
     opacity: 0.8;
     margin-top: 20px;
     font-family: "Bangers", system-ui;
}
    dl {
     font-size: 45px;
     font-family: "Bangers", system-ui;
     border: 3px solid lime;
     border-radius: 35px;
     padding: 9px 13px;
     margin: 9px;
     text-align: start;
     display: inline-block;
     background-color: forestgreen;
}

.tabela{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: -350px;
    text-align: center;
}
th, td{
  border:3px solid black;
}
table{
    width: 600px;
    height: 450px;
    font-family: "Bangers", system-ui;
}
dt{
    font-size: 54px;
}
thead{
    background-color: lavender;
}
tbody{
    background-color: forestgreen;
}
caption{
    font-size: 20px;
}
td {
    font-size: 20px;
}
